APP_NAME=go-oj
APP_ENV=dev
HTTP_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=oj
DB_USER=postgres
DB_PASSWORD=Postgres
DB_SSLMODE=disable

AUTH_JWT_SECRET=change-me-in-production
AUTH_TOKEN_TTL=120

ADMIN_BOOTSTRAP_EMAIL=admin@go-oj.dev
ADMIN_BOOTSTRAP_PASSWORD=Admin@123456
ADMIN_BOOTSTRAP_DISPLAY_NAME=Super Admin
